---
const pageTitle = "Louis Chenais";
import Layout from '../layouts/Layout.astro';

const records = [
  {
    'name': 'Design Tokens for Dummies',
    'year': '2018',
    'type': 'Article',
    'link': 'https://uxdesign.cc/design-tokens-for-dummies-8acebf010d71',
  },
  {
    'name': 'Design Systems Nantes #1 - Bien initier son Design System',
    'year': '2020',
    'type': 'Speaker',
    'link': 'https://www.youtube.com/watch?v=P9j-i_yhCM4',
  },
  {
    'name': 'Design System France - Design Tokens: To Infinity and Beyond',
    'year': '2020',
    'type': 'Speaker',
    'link': 'https://noti.st/louischenais/byPUwK/design-tokens-to-infinity-and-beyond',
  },
  {
    'name': 'Design Systems France Meetup #9 - Standardisation des design tokens',
    'year': '2020',
    'type': 'Speaker',
    'link': 'https://www.youtube.com/watch?v=vs8DjsdOroc',
  },
]
---

<Layout title={pageTitle}>
  <main>
    
    <h1 id="bonjour-i-m-louis-">Bonjour, I&#39;m Louis 游녦</h1>
    <p>(but my friends call me Lucho)</p>
    <p>I like everything that blinks, the internet, design systems and une belle soir칠e  table entre amis avec du rouge qui t칙che.</p>
    <p>I co-founded <a href="https://specifyapp.com">Specify</a> to help companies manage their brand at scale. I also work with the <a href="https://designtokens.org">Design Tokens Community Group</a> to create a standard for design tokens. Finally, I invented raclette in 1872.</p>
    <h2 id="find-me-on">Find me on</h2>
    <ul>
        <li><a href="https://twitter.com/Chuckn0risk">Twitter</a></li>
        <li><a href="https://design-systems.slack.com/">Design Systems Slack Community</a></li>
        <li><a href="https://designsystemsfrance.slack.com">Design System France Slack Community</a></li>
        <li><a href="https://soundcloud.com/chuckn0risk">SoundCloud</a></li>
        <li><a href="https://noti.st/louischenais">Notist</a></li>
    </ul>
    <h2 id="track-records">Track records</h2>
    <h3 id="2023">2023</h3>
    <ul>
        <li>游논 Speaker at <a href="https://noti.st/louischenais/AVgBDp/how-design-tokens-empower-brand-consistency-at-scale">Design System Day 2023</a></li>
        <li>游논 Speaker at Into Design Systems: <a href="https://www.youtube.com/watch?v=WddIeXUvVEY">Pushing design tokens to the next level - Dashlane x Specify</a></li>
    </ul>
    <h3 id="2022">2022</h3>
    <ul>
        <li>游닇 <a href="https://specifyapp.com/blog/introduction-to-design-ops">Introduction to Design Ops</a></li>
        <li>游논 Speaker at Into Design Systems: <a href="https://twitter.com/intodsconf/status/1519327098346819584">Syncing design tokens and assets from Figma to GitHub automatically</a></li>
        <li>游논 Speaker at Figma Schema 2022: <a href="https://www.youtube.com/watch?v=ssOdzxZdg58">An introduction to the design tokens file format</a></li>
        <li>游논 Speaker at Into Design Systems:<a href="https://www.youtube.com/watch?v=b0UK-j9YXxE">The Future of Design Tokens - Virtual Roundtable</a></li>
    </ul>
    <h3 id="2021">2021</h3>
    <ul>
        <li>游논 Speaker at Into Design Systems:<a href="https://www.youtube.com/watch?v=uiCGvhI7Vwo">How design tokens empower multi-brand design systems</a></li>
        <li>游논 Speaker at UXGhent: <a href="https://noti.st/louischenais/S0hrbp/why-your-design-system-needs-an-api">Why your design system needs an API</a></li>
        <li>游꿏 Podcast: <a href="https://soundcloud.com/digitaleleute/specify-breathes-life-into-design-api">DL Insights - 45 - Louis Chenais from Specify breathes life into the design API</a></li>
        <li>游논 Conference for the Design Friends community: <a href="https://www.meetup.com/fr-FR/design-friends/events/276858959/">Why your design system needs an API</a></li>
        <li>游눫 Interview with InfoQ: <a href="https://www.infoq.com/articles/from-design-systems-design-apis/">Why design systems need APIs</a></li>
        <li>游닇 <a href="https://specifyapp.com/blog/introduction-to-design-tokens">Introduction to design tokens</a></li>
    </ul>
    <h3 id="2020">2020</h3>
    <ul>
        <li>Speaker at Design System France: <a href="https://www.youtube.com/watch?v=vs8DjsdOroc">Design Systems France Meetup #9 - Standardisation des design tokens</a> 游游</li>
        <li>Speaker at Design System France: <a href="https://noti.st/louischenais/byPUwK/design-tokens-to-infinity-and-beyond">Design Tokens: To Infinity and Beyond</a></li>
        <li>Speaker at Design Systems Nantes #1: <a href="https://www.youtube.com/watch?v=P9j-i_yhCM4">Bien initier son Design System</a> 游游</li>
    </ul>
    <h3 id="2018">2018</h3>
    <ul>
        <li>游닇 <a href="https://uxdesign.cc/design-tokens-for-dummies-8acebf010d71">Design Tokens for Dummies</a></li>
    </ul>
    <h3 id="2018">2016</h3>
    <ul>
        <li>游닇 <a href="https://medium.com/@chuckn0risk/4-responsive-navigation-principles-4f3f57a8a2d1">4 Responsive Navigation Principles & Their Implementation</a></li>
    </ul>
  </main>
</Layout>