---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>Bonjour, I'm Louis 👋</h1>
  <p>(but my friends call me Lucho)</p>
  <p>
    I'm a frontend developer who likes everything that blinks, the internet, design
    systems and une belle soirée à table entre amis avec du rouge qui tâche.
  </p>
  <p>
    I co-founded <a href="https://specifyapp.com'">Specify</a> to help companies manage their
    brand at scale. I also work with the <a href="https://designtokens.org'"
      >Design Tokens Community Group</a
    > to create a standard for design tokens.
  </p>
  <h2>Find me on</h2>
  <ul>
    <li><a href='https://bsky.app/profile/lucho.cool'>Bluesky</a></li>
    <li>
      <a href='https://design-systems.slack.com'>Design Systems Slack Community</a>
    </li>
    <li>
      <a href='https://designsystemsfrance.slack.com'
        >Design Systems France Slack Community</a
      >
    </li>
    <li><a href='https://soundcloud.com/chuckn0risk'>SoundCloud</a></li>
    <li><a href='https://noti.st/louischenais'>Notist</a></li>
  </ul>
</Layout>
