---
import { getCollection } from 'astro:content';
const pageTitle = 'Louis Chenais | Writing';
const allPosts = await getCollection('posts');
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Louis Chenais">
	<main>
    <h1>Writing</h1>
    <ul class="article-list">    
        {allPosts.map((post) =>
          <li>
              <article>
                <h3>
                  <a href={`/posts/${post.slug}/`} aria-label={`Read ${post.data.title}`}>{post.data.title}</a>
                </h3>
              </article>
          </li>
        )}
    </ul>
  </main>
</Layout>