---
const year = new Date().getFullYear();
---

<footer>
  <a href='https://bsky.app/profile/lucho.cool'>Bluesky</a>
  <p>&copy; <span id='footer-year'>{year}</span></p>
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
