---
import { menuLinks } from '@/site.config';
const url = new URL(Astro.request.url);
---

<header>
  <a
    href="/"
    aria-current={url.pathname === "/" ? "page" : false}
  >
    Louis C.
  </a>
  <nav aria-label="Main menu">
    <ul class="u-list-style:none">
      {
				menuLinks.map((link) => (
        <li>
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
        </li>
				))
			}
    </ul>
  </nav>
</header>