*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 21%);
    --blue: hsl(210, 92%, 47%);
    --blue-sky: hsl(202.6, 76.7%, 64.7%);
    --padding-layouts: clamp(1.5rem, 4vw, 5rem);
    --link-color: var(--blue-sky);
    --border: 1px solid var(--grey);
    --border-radius: var(--base-space-4);
}

html {
    color: hsl(0, 0%, 83%);
    background-color: hsl(0, 0%, 10%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.45;
    font-size: 1.125rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-style: normal;
    font-weight: 300;
}

h1, h2, h3 {
    margin: 0;
    color: var(--white);
}

:is(h3, h4, h5) {
    font-weight: 600;
}

a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    --link-color: var(--blue);
}

img {
   max-width: 100%;
   height: auto; 
}

figure {
    margin-left: 0;
    margin-right: 0;
}

:focus:is(input, select, textarea) {
    border-color: aqua;
}

@media (prefered-reduced-motion: no-preference) {
    body {
        scroll-behavior: smooth;
    }
}

header, main, footer {
    width: clamp(16rem, 90vw, 65ch);
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
}

:is(header, footer) a {
    --link-color: var(--white);
}

main {
    padding-top: var(--padding-layouts);
    padding-bottom: var(--padding-layouts);
    flex: 1;
}

footer {
    border-top: var(--border);
}

:is(ol, ul) {
    padding-inline-start: 1.2rem;
    /* list-style: none; */
}

:is(ol, ul) > * + * {
    margin-top: var(--base-space-2);
}

:not(hr, h1, h2, h3, h4) + :is(h2, h3, h4, section.footnotes) {
    margin-top: var(--base-space-16);
}

:is(h1, h2, h3, h4) + * {
    margin-top: var(--base-space-4);
}

p:has(:is(img, picture, video)) {
    margin-top: var(--base-space-8);
    margin-bottom: var(--base-space-8);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.u-list-style\:none {
    list-style: none;
}

.external-link {
    text-decoration: underline;
    text-decoration-skip: auto;
}

.article-list {
    margin-top: var(--base-space-16);
}

.article {
    color: var(--white);
}

.article:hover {
    color: var(--blue);
}

.article h3 {
    color: inherit;
}

time {
    text-transform: uppercase;
    font-weight: 500;
}

.article-content time {
    display: block;
    color: var(--blue-sky);
}

.article-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1.83;
}

.article-img, img, picture, video {
    border-radius: var(--border-radius);
}

:is(.article-img, img:only-child, picture, video:only-child, figure) {
    * + & {
        margin-top: var(--base-space-8);
    }
}

figure {
    img + figcaption {
        margin-top: var(--base-space-2);
        font-style: italic;
        font-size: 0.8em;
    }
}

.article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:is(.article-img, img:only-child, picture, video:only-child, figure) + * {
    margin-top: var(--base-space-8);
    margin-bottom: var(--base-space-4);
}

blockquote {
    padding-left: 1em;
    border-left: 3px solid var(--link-color);
    margin-left: 0;
    margin-right: 0;

    * + & {
        margin-top: var(--base-space-16);
    }

    & + * {
        margin-top: var(--base-space-16);
    }

    & > p:first-child {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 500;
        color: var(--white);
    }

    & > p + p {
        margin-top: var(--base-space-2);
    }
}

.anchor {
    position: relative;
    scroll-margin-top: 2rem;

    a {
        --anchor-opacity: 0;
        position: absolute;
        transform: translateX(calc(-100% - var(--base-space-2)));
        opacity: var(--anchor-opacity);
        transition: opacity .3s ease-in;
    }

    &:hover {
        a {
            --anchor-opacity: 1;
        }
    }
}

pre {
    border-radius: var(--border-radius);
    padding: var(--base-space-6);
    font-size: 0.8em;
}