*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --grey-light: hsl(0, 0%, 83%);
    --grey: hsl(0, 0%, 21%);
    --blue: hsl(210, 92%, 47%);
    --blue-sky: hsl(202.6, 76.7%, 64.7%);
    --padding-layouts: clamp(1.5rem, 4vw, 5rem);
    --link-color: var(--blue-sky);
    --border: 1px solid var(--grey);
    --border-radius: var(--base-space-4);
    --border-radius-small: var(--base-space-2);
    --main-content-width: clamp(16rem, 90vw, 65ch);
}

html {
    color: var(--grey-light);
    background-color: hsl(0, 0%, 10%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.45;
    font-size: 1.125rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-style: normal;
    font-weight: 400;

    @media screen and (min-width: 1201px) {
        display: grid;
        row-gap: var(--base-space-8);
        column-gap: var(--base-space-16);
        grid-template-columns: 1fr var(--main-content-width) 1fr;
        grid-template-areas:
            '... header ...'
            '... main ...'
            '... footer ...';
        grid-template-rows: min-content 1fr min-content;
    }
}

h1,
h2,
h3 {
    margin: 0;
    color: var(--white);
}

:is(h3, h4, h5) {
    font-weight: 600;
}

a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

code {
    word-wrap: break-word;

    &:not(pre *) {
        position: relative;
        display: inline;
        font-family: monospace;
        font-size: 1rem;
        font-style: normal;
        letter-spacing: -.5px;
        padding: 2px 6px;
        margin: 1px -1px;
        background: rgb(43, 52, 59);
        border-radius: 4px;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}

:focus:is(input, select, textarea) {
    border-color: aqua;
}

@media (prefered-reduced-motion: no-preference) {
    body {
        scroll-behavior: smooth;
    }
}

header,
main,
footer {
    @media screen and (max-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
    }
}

header,
footer {
    padding-top: var(--base-space-4);
    padding-bottom: var(--base-space-4);

    @media screen and (max-width: 1200px) {
        width: var(--main-content-width);
    }

    * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1201px) {
        grid-area: header;
    }

    &>a:first-child {
        display: flex;
        align-items: center;
        gap: var(--base-space-2);

        .avatar {
            transition: transform ease-in .2s;
        }

        &:hover {
            .avatar {
                transform: rotateY(180deg);
            }
        }
    }
}

footer {
    @media screen and (min-width: 1201px) {
        grid-area: footer;
    }
}

main {
    @media screen and (max-width: 1200px) {
        width: var(--main-content-width);
    }

    @media screen and (min-width: 1201px) {
        &:not(:has(aside)) {
            grid-area: main;
        }

        &:has(aside) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 4;
            display: grid;
            grid-template-columns: subgrid;
            grid-template-areas: 'article toc';
        }
    }

}

:is(header, footer) a {
    --link-color: var(--white);
}

nav>ul {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;

    &>*+* {
        margin-left: var(--base-space-4);
    }

    a {
        position: relative;
        display: flex;
        padding-top: var(--base-space-1);
        padding-bottom: var(--base-space-1);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transition: transform .1s cubic-bezier(.5, 0, .5, 1);
            transform-origin: right;
            background-color: currentColor;
        }

        &[aria-current="page"] {
            position: relative;

            &::after {
                transform: scaleX(1);
            }
        }

        &:hover {
            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

main {
    padding-top: var(--padding-layouts);
    padding-bottom: var(--padding-layouts);
    flex: 1;
}

footer {
    border-top: var(--border);
}

:not(nav)> :is(ol, ul)>*+* {
    margin-top: var(--base-space-2);
}

:not(hr, h1, h2, h3, h4)+ :is(h2, h3, h4, section.footnotes) {
    margin-top: var(--base-space-16);
    scroll-margin-top: var(--base-space-4);
}

:is(h1, h2, h3, h4)+* {
    margin-top: var(--base-space-4);
}

p:has(:is(img, picture, video)) {
    margin-top: var(--base-space-8);
    margin-bottom: var(--base-space-8);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.u-list-style\:none {
    list-style: none;
}

.external-link {
    text-decoration: underline;
    text-decoration-skip: auto;
}

time {
    text-transform: uppercase;
    font-weight: 500;
}

.article-content time {
    display: block;
    color: var(--blue-sky);
}

.article-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1.83;
    overflow: hidden;
}

.article-img,
img,
picture,
video {
    border-radius: var(--border-radius);
}

:is(.article-img, img:only-child, picture, video:only-child, figure) {
    *+& {
        margin-top: var(--base-space-8);
    }
}

figure {
    img+figcaption {
        margin-top: var(--base-space-2);
        font-style: italic;
        font-size: 0.8em;
    }
}

.article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:is(.article-img, img:only-child, picture, video:only-child, figure)+* {
    margin-top: var(--base-space-8);
    margin-bottom: var(--base-space-4);
}

blockquote {
    padding-left: 1em;
    border-left: 3px solid var(--link-color);
    margin-left: 0;
    margin-right: 0;

    *+& {
        margin-top: var(--base-space-16);
    }

    &+* {
        margin-top: var(--base-space-16);
    }

    &>p:first-child {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 500;
        color: var(--white);
    }

    &>p+p {
        margin-top: var(--base-space-2);
    }
}

.anchor {
    position: relative;
    scroll-margin-top: 2rem;

    a {
        --anchor-opacity: 0;
        position: absolute;
        transform: translateX(calc(-100% - var(--base-space-2)));
        opacity: var(--anchor-opacity);
        transition: opacity .3s ease-in;
    }

    &:hover {
        a {
            --anchor-opacity: 1;
        }
    }
}

pre {
    border-radius: var(--border-radius);
    padding: var(--base-space-6);
    font-size: 0.8em;
}

.footnotes {
    ol {
        padding-inline-start: 1.2rem;
    }
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: var(--base-space-4);
    padding-left: 0;

    &>li {
        display: flex;
        flex-direction: column;
    }

    article {
        --color: var(--white);

        display: flex;
        flex-direction: column;
        color: var(--color);

        &:hover {
            --color: var(--blue);
        }
    }

    time {
        color: var(--grey-light);
    }

    h3 {
        color: inherit;
    }
}

.article-content {
    @media screen and (min-width: 1201px) {
        grid-area: article;
    }
}

.table-of-contents {
    @media screen and (max-width: 1200px) {
        display: none;
    }

    @media screen and (min-width: 1201px) {
        display: block;
        grid-area: toc;
    }

    position: sticky;
    top: var(--base-space-8);
    align-self: flex-start;
    padding-inline-end: var(--base-space-4);
    width: min(100%, 20rem);

    ul {
        list-style: none;
        padding-inline-start: 0;
    }

    li>ul>li {
        padding-left: var(--base-space-6);
        line-height: 1.2;
    }

    li>ul {
        margin-top: var(--base-space-2);
    }

    a {
        font-size: 0.8em;

        &:not(:hover) {
            color: var(--grey-light);
        }
    }
}

.avatar {
    width: var(--base-space-8);
    height: var(--base-space-8);
    overflow: hidden;
    border-radius: 100%;
    border: var(--border);
}

.article-hero {
    &+* {
        margin-top: var(--base-space-14);
    }

    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
}

.article-info {
    gap: var(--base-space-4);

    &,
    &> :last-child {
        display: flex;
        align-items: center;
    }

    &> :last-child {
        gap: var(--base-space-1);
    }
}