---
import { getW3FormattedDate, getFormattedDate } from "@/utils";
import Layout from '@/layouts/Layout.astro';
const { frontmatter } = Astro.props;
const w3FormattedDate = getW3FormattedDate(frontmatter.date);
const formattedDate = getFormattedDate(frontmatter.date);
---
<Layout title="Louis Chenais">
  <div class="article-content">
    <div class="article-img">
      <img
        src={frontmatter.cover.src}
        alt={frontmatter.coverAlt}
        loading="lazy"
      />
    </div>
    <time datetime={w3FormattedDate}>{formattedDate}</time>
    <slot />
  </div>
</Layout>