---
import { getW3FormattedDate, getFormattedDate } from "@/utils";
import Layout from '@/layouts/Layout.astro';
const { post } = Astro.props;
const w3FormattedDate = getW3FormattedDate(post.date);
const formattedDate = getFormattedDate(post.date);
---
<Layout title="Louis Chenais">
  <main class="article-content">
    <div class="article-img">
      <img
        src={post.cover.src}
        alt={post.coverAlt}
        loading="lazy"
      />
    </div>
    <time datetime={w3FormattedDate}>{formattedDate}</time>
    <slot />
  </main>
</Layout>